<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" language="VB" #>
<#@ output extension=".txt" #>
<#@ GeneratorLanguage processor="GeneratorLanguageDirectiveProcessor" requires="fileName='Sample.ugen'" #>

Generated material. Generating code in VB.


<#
  Rem When you change the DSL Definition, some of the code below may not work.

  For Each element As ExampleElement In Me.ExampleModel.Elements
#>
	<#= element.Name #>
<#    
  Next
#>
