<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("13a59d26-29a0-4b72-b39b-57fa4305a8f5");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
